 /*
 -------------------------------------------------------------------
            CSS for Colour Themes
  -------------------------------------------------------------------
 */
/*Body*/
$body-txt-clr:#000;

/* Header Container Colours*/
$header-bg-clr:#DDF2F3;

/* Container Colurs*/
$tile-border-clr:#f1f1f1;

 /* Sale and Exclusive item colours */
$sale-bg-clr:#CF3430;
$exclu-bg-clr:#039705;
$sale-txt-clr:#fff;

