 /*
 -------------------------------------------------------------------
            CSS for Main Module Wrapper
  -------------------------------------------------------------------
 */
.ModuleWrapper{
    height:auto;
    margin:0 120px;
    padding-top:20px;

}

/* On screens that are 768px less for Mobile and Tablet portrait */
@media screen and (max-width: 768px) {
    .ModuleWrapper{
       width:100%;
       margin:0px;
       padding-top:0px;
    }
}
